{% extends 'RzPageBundle:Page:Theme/montage/layout.html.twig' %}

{% block sonata_page_body_tag %}{% endblock %}

{% block sonata_page_top_bar %}{% endblock %}

{% block sonata_page_javascripts %}
<script src="{{ asset('assetic/sonata_front_js.js') }}" type="text/javascript"></script>
{% if sonata_page.isEditor or ( app.user and is_granted('ROLE_PREVIOUS_ADMIN') ) %}
	<script src="{{ asset('assetic/sonata_front_admin_js.js') }}"></script>
{% endif %}
{% endblock %}

{% block sonata_page_stylesheets %}
{{ parent() }}
{% if sonata_page.isEditor or ( app.user and is_granted('ROLE_PREVIOUS_ADMIN') ) %}
	<link rel="stylesheet" href="{{ asset('assetic/sonata_front_admin_css.css') }}" media="all">
{% endif %}
{% endblock %}

{% block rz_page_header %}{% endblock rz_page_header %}

{% block rz_page_body %}
<div class="container pt">
	<div class="row mt">
		<div class="row">
			{% block page_content %}
				{% if content is defined %}
					{{ content|raw }}
				{% else %}
					{% set content = block('content') %}
					{% if content|length > 0 %}
						{{ content|raw }}
					{% elseif page is defined %}
						{{ sonata_page_render_container('content', page) }}
					{% endif %}
				{% endif %}
			{% endblock %}
		</div>
	</div>
	<!-- /row -->
</div><!-- /container -->
{% endblock rz_page_body %}

{% block rz_page_footer %}{% endblock rz_page_footer %}